# --- Archivos pesados y geométricos de SIMION ---
electrode_.PA*
*.PA#
*.PA0
*.stl

# --- Archivos de configuración volátiles de SIMION ---
*.iob
*.fly2

# --- Archivos temporales de comunicación (Python-Lua) ---
param_input.txt
results.txt

# --- Reportes y Gráficas de salida ---
*.pdf
*.png

# --- LaTeX ---
*.tex
*.aux
*.log
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
